---
layout: archive
author_profile: true
---

{% include base_path %}

{% for page in {{ site.pages | sort: 'frontpageorder' }} %}
{% if page.categories contains 'frontpage' %}
<h3><a href="{{page.permalink}}">{{page.title}}</a></h3>
{% if page.frontpage %}
{{page.frontpage}}
{% else %}
{{page.excerpt}}
{% endif %}
{% endif %}
{% endfor %}

{% comment %}
<h3 class="archive__subtitle">Recent Posts</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

{% endcomment %}